#################################################################################
## Copyright (C) 2015 Donald J. Bartley <djbcoffee@gmail.com>
##
## This source file may be used and distributed without restriction provided that
## this copyright statement is not removed from the file and that any derivative
## work contains the original copyright notice and the associated disclaimer.
##
## This source file is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by the Free
## Software Foundation; either version 2 of the License, or (at your option) any
## later version.
##
## This source file is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
## FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
## details.
##
## You should have received a copy of the GNU General Public License along with
## this source file.  If not, see <http://www.gnu.org/licenses/> or write to the
## Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
## 02110-1301, USA.
#################################################################################
## File: PS2.ucf
##
## Description:
## User contraints file for the PS2 project.
#################################################################################
## DJB 02/01/15 Created.
#################################################################################

#PACE: Start of Constraints generated by PACE

#PACE: Start of PACE I/O Pin Assignments
NET "Clock"  LOC = "P1" | BUFG = CLK ;
NET "CS"  LOC = "P38"  ;
NET "FrequencySelect<0>"  LOC = "P29"  ;
NET "FrequencySelect<1>"  LOC = "P31"  ;
NET "FrequencySelect<2>"  LOC = "P32"  ;
NET "FrequencySelect<3>"  LOC = "P34"  ;
NET "FrequencySelect<4>"  LOC = "P36"  ;
NET "HostAddress0"  LOC = "P41"  ;
NET "HostDataPins<0>"  LOC = "P18" | SLEW = FAST ;
NET "HostDataPins<1>"  LOC = "P16" | SLEW = FAST ;
NET "HostDataPins<2>"  LOC = "P14" | SLEW = FAST ;
NET "HostDataPins<3>"  LOC = "P12" | SLEW = FAST ;
NET "HostDataPins<4>"  LOC = "P7" | SLEW = FAST ;
NET "HostDataPins<5>"  LOC = "P6" | SLEW = FAST ;
NET "HostDataPins<6>"  LOC = "P5" | SLEW = FAST ;
NET "HostDataPins<7>"  LOC = "P3" | SLEW = FAST ;
NET "nCS"  LOC = "P39"  ;
NET "Ps2ClockIn"  LOC = "P23"  ;
NET "Ps2ClockOut"  LOC = "P22" | SLEW = FAST ;
NET "Ps2DataIn"  LOC = "P20"  ;
NET "Ps2DataOut"  LOC = "P19" | SLEW = FAST ;
NET "RnW"  LOC = "P43" | BUFG = CLK ;

#PACE: Start of PACE Area Constraints

#PACE: Start of PACE Prohibit Constraints

#PACE: End of Constraints generated by PACE
